* {
    font-family: sans-serif;
    box-sizing: border-box;
}
#header {
    padding-top: 1rem;
    display: flex;
    justify-content:center;
    align-items:center;
    background-color: #EDEFEE;
  }
.nav-item {
  padding-left: 2rem;
  font-size: large;
  font-weight: bold;
}
nav a {
    text-decoration: none;
    color: #495E57;
  } 
#logo {
    display: block;
    padding-bottom: 8px;
    width: 20%;
  }
footer {
  display: grid;
  justify-content: center;
  grid-template-columns: auto auto auto auto;
  column-gap: 140px;
  padding-top: 1rem; 
  background-color: #EDEFEE;
}

footer .nav-item {
  display: block;
  font-size: small;
  font-weight: bold;
}