* {
    font-family: sans-serif;
    box-sizing: border-box;
}

#header {
    width: 1440px;
    padding-top: 1rem;
    display: flex;
    justify-content:center;
    align-items:center;
    background-color: #EDEFEE;
  }
.nav-item {
  padding-left: 2rem;
  font-size: large;
  font-weight: bold;
}
nav a {
    text-decoration: none;
    color: #495E57;
  } 
#logo {
    display: block;
    padding-bottom: 8px;
    width: 20%;
  }
section article {
  padding-top: 1rem;
}
#hero {
  width: 1440px;
  display: grid;
  justify-content: space-between;
  grid-template-columns: auto auto auto;
  column-gap: 150px;
  padding-left: 150px;
  padding-top: 1rem;
  background-color: #F4CE14;
}
#specials {
  width: 1440px;
  display: grid;
  grid-template-columns: 300px 300px 300px;
  column-gap: 70px;
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 1rem;
  background-color: #F4CE14; 
  text-align: center;
}

section h1 {
  font-size: xx-large;
}

button {
  width: 400px;
  height: 80px;
  background-color: #495E57;
  color: #EDEFEE;
  font-size: x-large;
  border: solid #495E57;
  border-radius: 10px;
}

article img {
  width: 250px;
}

footer {
  width: 1440px;
  display: grid;
  justify-content: center;
  grid-template-columns: auto auto auto auto;
  column-gap: 140px;
  padding-top: 1rem; 
  background-color: #EDEFEE;
}

footer .nav-item {
  display: block;
  font-size: small;
  font-weight: bold;
}