* {
    font-family: sans-serif;
    box-sizing: border-box;
}
section {
  background-color: #F4CE14;
  width: 1440px;
  display: grid;
  justify-content: space-between;
  padding-left: 150px;
  padding-top: 1rem;
}
#header {
    width: 1440px;
    padding-top: 1rem;
    display: flex;
    justify-content:center;
    align-items:center;
    background-color: #EDEFEE;
  }
.nav-item {
  padding-left: 2rem;
  font-size: large;
  font-weight: bold;
}
a {
    text-decoration: none;
    color: #495E57;
  } 
#logo {
    display: block;
    padding-bottom: 8px;
    width: 20%;
  }
section article {
  padding-top: 1rem;
}
#hero {
  grid-template-columns: 4fr 4fr;
  column-gap: 50px;
 }
#specials {
  grid-template-columns: 3fr 3fr 3fr;
  column-gap: 50px;
  padding-right: 150px;
}

section h1 {
  font-size: xx-large;
}

button {
  width: 240px;
  height: 80px;
  background-color: #495E57;
  color: #EDEFEE;
  font-size: x-large;
  border: solid #495E57;
  border-radius: 10px;
}

article img {
  width: 300px;
  height: 200px;
}
span {
  font-weight: bold;
}
#price {
  color: red;
  padding-left: 150px;
}

footer {
  width: 1440px;
  display: grid;
  justify-content: center;
  grid-template-columns: auto auto auto auto;
  column-gap: 140px;
  padding-top: 1rem; 
  background-color: #EDEFEE;
}

footer .nav-item {
  display: block;
  font-size: small;
  font-weight: bold;
}